.login-container
  .login-box.animated.fadeInDown
    .login-logo
    .login-body
      .login-title
        %strong Log In
        To your Account
      = form_for(resource, as: resource_name, url: session_path(resource_name),:html=>{:class=>"form-horizontal"}) do |f|
        .form-group
          .col-md-12
            = f.email_field :email, autofocus: true,:placeholder=>"Email",:class=>"form-control"
        .form-group
          .col-md-12
            = f.password_field :password, autocomplete: "true",:placeholder=>"Password",:class=>"form-control"
        .form-group
          .col-md-6
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'

              = link_to "Forgot your password?", new_password_path(resource_name),:class=>"btn btn-link btn-block"
          .col-md-6
            = f.submit "Log in",:class=>"btn btn-info btn-block"
    .login-footer
      .pull-left
        &copy; 2016 BikeStore