<footer class="page-footer grey darken-4">
  <div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">BikeStore</h5>
      <p class="grey-text text-lighten-4">
        Somos una empresa especializada en bicicletas elite, te llevamos donde nunca has llegado con tu pasion por el ciclismo. Somos especialistas en bicicletas.
      </p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Visitanos</h5>
      <ul>
        <li><a class="waves-effect waves-light btn-large blue darken-4" href="https://www.facebook.com/Bikestore-1410748872489001/?fref=nf"><i class="fa fa-facebook" aria-hidden="true" style="font-size:2.6em;"></i></a></li>
        <br>
        <li><a class="waves-effect waves-light btn-large brown" href="https://www.instagram.com/bikestoresv/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  </div>
  <div class="footer-copyright">
  <div class="container">
  © 2016 Copyright BikeStore xpresaWeb
  </div>
  </div>
</footer>
