%header
	%nav
		.nav-wrapper.grey.darken-4{"ng-controller"=>"MenuCtrl"}
			%a.button-collapse{"data-activates"=>"mobile-demo"}
				%i.material-icons menu
			%a{"ng-href" => "#/"}
				=image_tag('logobs-08.svg',:class=>"brand-logo logo")
			%ul.right.hide-on-med-and-down
				%li{"ng-repeat"=>"menu in menus"}
					%a{"ng-href" => "#/{{menu.path}}"} {{menu.name}}
				-if user_signed_in?
					%li
						%a{:"ng-href" => "#/cpanel"}Cpanel
					%li
						%a{:"ng-click"=>"logout()"}Logout
				-else
					%li
						%a{:"ng-href" => "#/login"}Login
			%ul.side-nav#mobile-demo
				%li{"ng-repeat"=>"menu in menus"}
					%a{"ng-href" => "#/{{menu.path}}"} {{menu.name}}
