@import url(http://fonts.googleapis.com/icon?family=Material+Icons);
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}


.border
{
border-style: solid;
border-color: #ff0000 #0000ff;
}

.border-color{
    border-style: solid;
    border-color: #0000ff;
}
.border-color-red{
    border-style: solid;
    border-color: #F44336;
}
.border-color-black{
    border-style: solid;
    border-color: #000000;
}
/*scree*/
.full-screen{
    width: 100%;
}
/*Margenes*/
.no-margin-left{
    margin-left: 0;
}
/*Padding*/
.no-padding{
    padding:0;
}
.no-padding-left{
    padding-left: 0;
}
.padding-top{
    margin-top:1.5em;
}
/*Borders*/
.no-border-left{
    border-left: 0;
}
/*posiciones*/
.abosulote{
    position:absolute;
}
.relative{
    position:relative;
}
/*
heigth
*/
.standar-height{
    margin: auto;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 175px;
}
.standar-height{
}
@media only screen and (min-width: 1500px) {
  .standar-height{
      margin: auto;
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 400px;
  }
}
.logo{
    max-height: 1.5em;
}
/*Text Colors*/
.white-text{
    color: white;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination li.active {
    background-color: #757575;
}