!!! 5
%html{:lang => "es"}
	%head
		%meta{:charset => "UTF-8"}/
		%meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge"}
		%meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}
		%title BikeStore
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body{"ng-app"=>"site"}
		=render "/partials/landing/menu"
		%main.test{"ng-view"=>true}
			= yield
		=render "/partials/landing/footer"
		= javascript_include_tag 'application', 'data-turbolinks-track' => true